<div class="tit">
  DOADORES DE SANGUE
</div>

<mat-list>
  <div class="file">
      <div class="form-group">
        <label for="file">ESCOLHER ARQUIVO</label><br /> <input type="file" id="file" for="choose" (change)="uploadFiles($event)">
      </div>
    
      <button class="but" mat-raised-button color="primary" type="button" (click)="RequestUpload()">ENVIAR ARQUIVO</button>
    
  </div>
  <div>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div>
      <mat-tab-group>
        <mat-tab label="DADOS EXTRAÍDOS DO ARQUIVO"> 
          
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Média de Doadores Por Tipo de Sangue</span>
              <span matListItemLine>A+  : {{dataBloodType.aMais}}</span>
              <span matListItemLine>A-  : {{dataBloodType.aMenos}}</span>
              <span matListItemLine>B+  : {{dataBloodType.bMais}}</span>
              <span matListItemLine>B-  : {{dataBloodType.bMenos}}</span>
              <span matListItemLine>AB+ : {{dataBloodType.abMais}}</span>
              <span matListItemLine>AB- : {{dataBloodType.abMenos}}</span>
              <span matListItemLine>O+  : {{dataBloodType.oMais}}</span>
              <span matListItemLine>O-  : {{dataBloodType.oMenos}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Total de Doadores Por Tipo de Sangue</span>
              <span matListItemLine>A+  : {{dataBloodType.totalDonorsaMais}}</span>
              <span matListItemLine>A-  : {{dataBloodType.totalDonorsaMenos}}</span>
              <span matListItemLine>B+  : {{dataBloodType.totalDonorsbMais}}</span>
              <span matListItemLine>B-  : {{dataBloodType.totalDonorsbMenos}}</span>
              <span matListItemLine>AB+ : {{dataBloodType.totalDonorsabMais}}</span>
              <span matListItemLine>AB- : {{dataBloodType.totalDonorsabMenos}}</span>
              <span matListItemLine>O+  : {{dataBloodType.totalDonorsoMais}}</span>
              <span matListItemLine>O-  : {{dataBloodType.totalDonorsoMenos}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Porcentagem de Obesidade Por Sexo</span>
              <span matListItemLine>Masculino: {{dataBloodType.percentObesityMasc}}</span>
              <span matListItemLine>Feminino: {{dataBloodType.percentObesityFem}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>IMC Por Faixa Etária</span>
              <span matListItemLine>0-10: {{dataBloodType.imcBetweenZeroAndTen}}</span>
              <span matListItemLine>11-20: {{dataBloodType.imcBetweenElevenAndTwenty}}</span>
              <span matListItemLine>21-30: {{dataBloodType.imcBetweenTwentyoneAndThirty}}</span>
              <span matListItemLine>30+: {{dataBloodType.imcOverThirty}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Candidatos Por Estado</span>
              <span matListItemLine>AC: {{dataBloodType.ac}} || AL: {{dataBloodType.al}} || AP: {{dataBloodType.ap}}</span>
              <span matListItemLine>AM: {{dataBloodType.am}} || BA: {{dataBloodType.ba}} || CE: {{dataBloodType.ce}}</span>
              <span matListItemLine>ES: {{dataBloodType.es}} || GO: {{dataBloodType.go}} || MA: {{dataBloodType.ma}}</span>
              <span matListItemLine>MT: {{dataBloodType.mt}} || MS: {{dataBloodType.ms}} || MG: {{dataBloodType.mg}}</span>
              <span matListItemLine>PA: {{dataBloodType.pa}} || PB: {{dataBloodType.pb}} || PR: {{dataBloodType.pr}}</span>
              <span matListItemLine>PE: {{dataBloodType.pe}} || PI: {{dataBloodType.pi}} || RJ: {{dataBloodType.rj}}</span>
              <span matListItemLine>RN: {{dataBloodType.rn}} || RS: {{dataBloodType.rs}} || RO: {{dataBloodType.ro}}</span>
              <span matListItemLine>RR: {{dataBloodType.rr}} || SC: {{dataBloodType.sc}} || SP: {{dataBloodType.sp}}</span>
              <span matListItemLine>SE: {{dataBloodType.se}} || TO: {{dataBloodType.to}} || DF: {{dataBloodType.df}}</span>
            </mat-list-item>
          </mat-list>

        </mat-tab>
        
        <mat-tab label="TODOS OS CANDIDATOS">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let don">{{ don[column] }}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let donrow; columns: displayedColumns"></tr>
          </table>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
          <mat-paginator
            #paginator
            [length]="totalData"
            [pageSizeOptions]="pageSizes"
            showFirstLastButtons
          ></mat-paginator>
          
        </mat-tab>
      </mat-tab-group>
  </div>
</mat-list>