.mat-form-field {
    margin: 40px 0;
    width: 500px !important;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}
.mat-toolbar-single-row button {
    width: 200px;
}
.mat-form-field {
    width: 100%;
}
#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

table {
    width: 100%;
}

.full-width {
    font-size: 14px;
    width: 100%;
}

.file {
    text-align: center;
    margin-top: 20px;
}

.tit {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: tomato;
}

.divider {
    margin-top: 30px;
}

.but {
    margin-top: 5px;
}

input[type=file]::file-selector-button {
    margin-right: 10px;
    border: none;
    background: #3f51b5;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: tomato;
  }